groups:
- name: system-alerts
  rules:

  - alert: HighCPUUsage
    expr: avg(rate(node_cpu_seconds_total{mode!="idle"}[2m])) * 100 > 80
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: High CPU usage detected

  - alert: InstanceDown
    expr: up == 0
    for: 1m
    labels:
      severity: critical
    annotations:
      summary: Instance is down
