auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9096

common:
  path_prefix: /loki
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules

schema_config:
  configs:
    - from: 2024-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

compactor:
  working_directory: /loki/compactor
  compaction_interval: 10m
  retention_enabled: true
  retention_delete_delay: 2h
  delete_request_store: filesystem

limits_config:
  retention_period: 15d
  allow_structured_metadata: true





http:
  routers:


  services:






http:
  routers:

    valura-admin-router:
      rule: Host(`admindev.valura.co.in`)
      entryPoints:
        - https
      tls:
        certResolver: letsencrypt
      service: valura-admin-service

    valura-ai-agent-router:
      rule: Host(`aiagentsdev.valura.co.in`)
      entryPoints:
        - https
      tls:
        certResolver: letsencrypt
      service: valura-ai-agent-service

    valura-api-router:
      rule: Host(`apidev.valura.co.in`)
      entryPoints:
        - https
      tls:
        certResolver: letsencrypt
      service: valura-api-service

    valura-gtn-router:
      rule: Host(`gtndev.valura.co.in`)
      entryPoints:
        - https
      tls:
        certResolver: letsencrypt
      service: valura-gtn-service

    valura-gtn-ws-router:
      rule: Host(`gtnwsdev.valura.co.in`)
      entryPoints:
        - https
      tls:
        certResolver: letsencrypt
      service: valura-gtn-ws-service

    valura-gtn-sse-router:
      rule: Host(`gtnssedev.valura.co.in`)
      entryPoints:
        - https
      tls:
        certResolver: letsencrypt
      service: valura-gtn-sse-service

    valura-web-router:
      rule: Host(`webdev.valura.co.in`)
      entryPoints:
        - https
      tls:
        certResolver: letsencrypt
      service: valura-web-service

    valura-zag-router:
      rule: Host(`zagdev.valura.co.in`)
      entryPoints:
        - https
      tls:
        certResolver: letsencrypt
      service: valura-zag-service

    valura-analysis-router:
      rule: Host(`analysisdev.valura.co.in`)
      entryPoints:
        - https
      tls:
        certResolver: letsencrypt
      service: valura-analysis-service

    #this is infra
    valura-prometheus-router:
      rule: Host(`prometheus-infra.valura.co.in`)
      entryPoints:
        - https
      tls:
        certResolver: letsencrypt
      service: valura-prometheus-service

    valura-grafana-router:
      rule: Host(`grafana-infra.valura.co.in`)
      entryPoints:
        - https
      tls:
        certResolver: letsencrypt
      service: valura-grafana-service

    valura-loki-router:
      rule: Host(`loki-infra.valura.co.in`)
      entryPoints:
        - https
      tls:
        certResolver: letsencrypt
      service: valura-loki-service

    valura-cadvisor-router:
      rule: Host(`cadvisor-infra.valura.co.in`)
      entryPoints:
        - https
      tls:
        certResolver: letsencrypt
      service: valura-cadvisor-service


  services:

    valura-admin-service:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: "http://10.200.2.51:8080"

    valura-ai-agent-service:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: "http://10.200.2.51:8000"

    valura-api-service:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: "http://10.200.2.51:4000"

    valura-gtn-service:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: "http://10.200.2.51:9005"

    valura-gtn-ws-service:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: "http://10.200.2.51:8081"

    valura-gtn-sse-service:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: "http://10.200.2.51:3001"

    valura-web-service:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: "http://10.200.2.51:3000"

    valura-zag-service:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: "http://10.200.2.51:8082"

    valura-analysis-service:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: "http://10.200.2.51:8001"
    
    #this is infra
    valura-prometheus-service:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: "http://10.200.2.52:9090"

    valura-grafana-service:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: "http://10.200.2.52:3000"

    valura-loki-service:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: "http://10.200.2.52:3100"

    valura-cadvisor-service:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: "http://10.200.2.52:8080"
