global:
  resolve_timeout: 5m

route:
  receiver: default
  group_by: [alertname, instance]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h

receivers:
- name: default
  webhook_configs:
    - url: "http://your-webhook-endpoint"
